<div id="modal" class="hide">
  <div class="content">
    <div class="header">
      <h1>Pontos de coleta</h1>
      <a href="#">Fechar</a>
    </div>
    <form action="/search-results">
      <label for="search"></label>
      <div class="search field">
        <input type="text" name="search" placeholder="Digite a cidade">
        <input type="text" name="search" placeholder="Digite o Estado">
        <button>
          <img src="/assets/search.svg" alt="Buscar">
          <h1>Buscar</h1>
        </button>
      </div>
    </form>
  </div>
</div>