#modal {
  background-color: #0E0A14EF;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 400ms;
}

#modal.hide{
  display: none;
}

#modal .content {
  color: #FFF;
  width: 420px;
}

#modal .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

#modal .header a {
  background-image: url("/assets/x.svg");
  width: 20px;
  height: 20px;
  display: flex;
  font-size: 0.01px;
}

#modal .header h1 {
  color: #FFF;
  font-size: 36px; 
  line-height: 42px;
}

#modal form label{
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 8px;
}

#modal form .field {
  display: grid;
  gap: 8px;
}


#modal form input{
  flex: 1;
  background-color: #f0f0f0;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
}

#modal form button {
  width: 100%;
  height: 60px;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal form button h1{
  color: #FFF;
}

#modal form button:hover {
  background-color: #2FB85E;
  transition: 400ms;
}
